## for load-gpg-key.sh
# base64 encoded armored GPG signing key
GPG_SIGNING_KEY="..."


## for release.sh
# last 8 characters of the signing key id
SIGNING_KEY_ID="........"
# Signing key passphrase
SIGNING_PASSWORD="..."

# OSSRH / Sonatype credentials
SONATYPE_USERNAME="..."
SONATYPE_PASSWORD="..."
