name: Publish coveralls

on:
  push:
    branches:
      - main

jobs:
  test-and-publish:
    name: Test and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Test and publish coverage
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: ./gradlew check jacocoTestReport coverallsJacoco -x detekt
