name: Publish codecov

on:
  push:
    branches:
      - main

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Test with coverage
        run: ./gradlew check jacocoTestReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
