name: Publish codecov

on:
  push:
    branches:
      - main

jobs:
  test-and-publish:
    name: Test and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Test with coverage
        run: ./gradlew check jacocoTestReport -x detekt

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
